{% import "macros/head.html" as head_macros -%}

<!DOCTYPE html>
<html lang="en-US">

<title>{%- block title %}{{ config.title }}{% endblock title -%}</title>

{{ head_macros::head(config=config) }}

{%- if config.generate_rss %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
{% endif -%}

<script type="text/javascript" src="{{ get_url(path='js/carousel.js') | safe }}"></script>


{%- if config.extra.favicon %}
<link rel="shortcut icon" type="{{ config.extra.favicon_mimetype | default(value="image/x-icon") }}" href="{{ config.extra.favicon | safe }}">
{% endif -%}
{%- block extra_head %}
{% endblock extra_head -%}

<div id="container">

<header>
    <div class="title"><a href="/">{{ config.title | safe }}</a></div>
    <div class="tagline">"Quality First!"</div>
</header>

<hr class="hr-thin">

{% block content %}
<div class="panels">
<div class="panel">
<div class="content">
    {{ section.content | safe }}
</div>

<div id="snippets">
<div class="snippet">
<code>
[wile-e]@[acf]$ whois as394119
</code>
</div>

<div class="snippet">
<code>
[wile-e]@[acf]$ dig -t TXT acmesf.com
</code>
</div>
</div>
</div>

<div id="carousel panel" class="carousel">
    {% set gallerydata = load_data(path="content/gallery.yaml") %}
    <div class="carousel-buttons">
    {%- for galleryitem in gallerydata -%}
        <div class="carousel-button carousel-group-" id="carousel-button-{{ loop.index }}">{{ loop.index }}</div>
    {% endfor -%}
    </div>
    {%- for galleryitem in gallerydata -%}
    <div class="carousel-content carousel-group-" id="carousel-content-{{ loop.index }}">
        <img src="{{ get_url(path=galleryitem.url) }}">
        <div class="caption">{{ galleryitem.caption }}</div>
    </div>
    {% endfor -%}
</div>
</div>

<div id="index">
    <div class="index-heading">Index</div>
    <div class="index-table">
        <div class="index-table-header index-row">
            <div class="index-cell index-date">Date</div>
            <div class="index-cell index-link">Link</div>
            <div class="index-cell index-button">Button</div>
        </div>
        {%- for page in section.pages -%}
        <div class="index-row">
            <div class="index-cell index-date"> {{ page.date }}</div>
            <div class="index-cell index-link">~\<a href="{{ page.permalink | safe }}">{{ page.slug }}</a></div>
            <div class="index-cell index-button"><a href="{{ page.permalink | safe }}"><img src="{{ get_url(path="img/button.svg") }}" class="index-button-img"></a></div>
        </div>
        {% endfor -%}
    </div>
</div>
</div>
{% endblock content -%}
